# Terraform
terraform.tfvars
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Lambda build artifacts
lambdas/**/build/
lambdas/**/*.zip
lambdas/**/package/
.build/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env
